**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json

.vscode/**
.gitignore
.travis.yml
contributing.md
syntaxes/dragonscript.tmLanguage_*.json
test/**
haiku/**
*.code-workspace

node_modules/**
server/src/**
server/data/**
server/out/**
server/node_modules/**
client/src/**
client/out/**
client/node_modules/**

!client/node_modules/crc-32/**
!server/node_modules/crc-32/**
!server/distribute/**
!client/distribute/**

